<html>
<head></head>
<body>
   <h1>Login</h1>
   <form action="/login" method="post">
      <table>
         <tr>
            <td>User:</td>
            <td><input type='text' name='username' value=''/></td>
         </tr>
         <tr>
            <td>Password:</td>
            <td><input type='password' name='password' /></td>
         </tr>
         <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
         </tr>
      </table>
  </form>
  <h3>Register</h3>

	<!-- <form method="post" action="/register">
			<label for="fullname">Full Name:</label>
			<input type="text" name="fullname" size="50"></input><br/>
			<label for="username">User Name:</label>
			<input type="text" name="username" size="50"></input><br/>
			<label for="password">Password:</label>
			<input type="password" name="password" size="50"></input><br/>
			<input type="submit"></input>
		</form>   -->
</body>
</html>